
ServerTsofen45/.classpath
ServerTsofen45/.settings/org.eclipse.jdt.core.prefs
ServerTsofen45/target/classes/com/example/ServerTsofen45/ServerTsofen45Application.class
ServerTsofen45/target/test-classes/com/example/ServerTsofen45/ServerTsofen45ApplicationTests.class
